<div id="conteudocarro">
						<h3> Nosso Carro</h3>
						<p> Está são as fotos de nosso carro que foi pintado pelo amigo Serginho Bedeu.</p>


<div id="gallery">
  
  <ul>
	  <li><a href="/assets/fotos/carro/carro.jpg" title="fotos do nosso carro">
	     	<img src="/assets/fotos/carro/carro_editada.jpg" width="100" alt="" />
		</a></li>
		<li><a href="/assets/fotos/carro/carro2.jpg" title="fotos do nosso carro">
	  		<img src="/assets/fotos/carro/carro2_editada.jpg" width="100" alt="" />
		</a></li>
		<li><a href="/assets/fotos/carro/carro3.jpg" title="fotos do nosso carro">
	     	<img src="/assets/fotos/carro/carro3_editada.jpg" width="100" alt="" />
		</a></li>
		<li><a href="/assets/fotos/carro/carro4.jpg" title="fotos do nosso carro">
	  		<img src="/assets/fotos/carro/carro4_editada.jpg" width="100" alt="" />
		</a></li>
		<li><a href="/assets/fotos/carro/carro5.jpg" title="fotos do nosso carro">
	     	<img src="/assets/fotos/carro/carro5_editada.jpg" width="100" alt="" />
		</a></li>
		<li><a href="/assets/fotos/carro/carro6.jpg" title="fotos do nosso carro">
	  		<img src="/assets/fotos/carro/carro6_editada.jpg" width="100" alt="" />
		</a></li>
  </ul>
  		
</div>

<%= link_to '', root_path, :class => "voltar" %>

</div>
