<div id="conteudocarro">
						<h3> Nosso Carro</h3>
						<p> Está são as fotos de nosso carro que foi pintado pelo amigo Serginho Bedeu.</p>


 <div id="gallery" class="box">
      <ul>
        <li><a data-gal="prettyPhoto[gallery2]" href="/assets/fotos/carro/carro.jpg" title="Fotos do nosso carro"><img src="/assets/fotos/carro/carro.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="/assets/fotos/carro/carro2.jpg" title="Fotos do nosso carro"><img src="/assets/fotos/carro/carro2.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="/assets/fotos/carro/carro3.jpg" title="Fotos do nosso carro"><img src="/assets/fotos/carro/carro3.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="/assets/fotos/carro/carro4.jpg" title="Fotos do nosso carro"><img src="/assets/fotos/carro/carro4.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="/assets/fotos/carro/carro5.jpg" title="Fotos do nosso carro"><img src="/assets/fotos/carro/carro5.jpg" width="260" height="190" alt="" /></a></li>
        <li><a data-gal="prettyPhoto[gallery2]" href="/assets/fotos/carro/carro6.jpg" title="Fotos do nosso carro"><img src="/assets/fotos/carro/carro6.jpg" width="260" height="190" alt="" /></a></li>
           
      </ul>

</div>


<%= link_to '', root_path, :class => "voltar_carro" %>

</div>

