<div id="formulario">

<h3 class="novousuario">Cadastrar Usuário</h3>
<p>Preencha o formulário abaixo para ser um usuário cadastrado e tenha acesso a conteudo exclusivo.</p><br><br> 

<%= render 'form' %>

</div>
