/*Configurações gerais */

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	background: #ffffff;
}

a:link, a:visited { 
  color: #06C; 
  text-decoration: underline; 
  font-weight: normal; 
} 

a:active, a:hover { 
  color: #F00; 
  text-decoration: none;
}

p {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.voltar {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-top: 50px;
  background:url("/assets/voltar.gif");
}


/*Configurações para as noticias e alertas*/

#notice {
  float: left;
  min-width: 100px;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid gray;
}

#notice h1 {
  float: left;
  width: 45px;
  margin: 1px;
  text-align: center;
  font-size: 15px;
  background-color: green;
  color: white;
}

#notice p{
  float: left;
  text-align: center;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

#alert {
  float: left;
  min-width: 100px;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid gray;
}

#alert h1 {
  float: left;
  width: 40px;
  margin: 1px;
  text-align: center;
  font-size: 15px;
  background-color: red;
  color: white;
}

#alert p{
  float: left;
  text-align: center;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

/*Fim da noticias e alertas*/


/*Configurações para formulario*/
 
#formulario{
  width: 700px;
  margin-bottom: 20px;
  margin-left: 80px;
}

#formulario li {
  float: left;
  width: 700px;
  list-style-type:none;
}


#formulario h2{
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#formulario strong{
  text-indent: 30px;
	color: #8B5742;
	text-align: justify;
	font-size: 15px;
}

.dados_fieldset legend{
  font:14px/19px Arial, Helvetica, sans-serif; 
  font-weight: bold;
  margin-left: 5px;
  	color: #8B5742;
}

.dados_fieldset label{
  float: left;
  margin-left: 20px;
  	color: #8B5742;
}


.inline-errors{
  margin-left: 52%;
  margin-top: -21px;
  color: #FF0000;
  font:14px/19px Arial, Helvetica, sans-serif; 
	font-weight:normal;
}


.formtastic abbr {
  border:0;
  font-variant:normal;
  margin-left: 5px;
  margin-right: 5px;
  color: #FF0000;
}

.formtastic .input {
  overflow:hidden; /* clear containing floats */
  padding:0.5em 0; /* padding and negative margin juggling is for Firefox */
  margin-top:-0.5em;
  margin-bottom:1em;
}

.formtastic .input .label {
  display:block;
  width:14%;
  float:left;
  padding-top:.2em;
  font:14px/19px Arial, Helvetica, sans-serif; 
	color: #8B5742;
	font-weight:normal; 
	display:block;
}


/*Fim do formulario*/




/*Configurações para o login*/

#login{
  float: left;
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30%;
  background:url("/assets/acessorestrito.gif");
}

#loginconteudo{
  float: left;
  width: 390px;
  height: 140px;
  margin-top: 165px;
  margin-left: 50px;
}

#loginconteudo a{
  color: #ffffff;
}
/*Fim do login*/




/*Configurações para o cabeçalho*/

#cabecalho_fundo {
	width: 100%;
	height: 114px;
	margin: 0 auto;
	background: #19446a url("/assets/cabecalho/templatemo_header_bg.jpg") repeat-x;
}

#cabecalho {
	width: 980px;
	margin: 0 auto;
}

#cabecalho #site_logo {
	float: left;
	width: 340px;
	height: 100px;
	font-size: 40px;
	color: #ffffff;
	background:url("/assets/cabecalho/logo.gif") no-repeat;
}

#cabecalho #usuario_logado {
	float: right;
	width: 270px;
	height: 100px;
	margin-right: 40px;
}

.ola { 
  float: left;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 5px;
}

.usuarionome {
  float: left;
  color: #FFD39B;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 5px;
}

.dia {
  float: left;
  color: #FFD39B;
  font-size: 12px;
  margin-top: 23px;
  margin-left: 5px;
}




/*Fim cabeçalho*/


/* Configurações para o menu */

#menu_fundo {
	clear: both;
	width: 100%;
	height: 41px;
	margin: 0 auto;
	background: url("/assets/menu/templatemo_menu_bg.jpg") repeat-x;
}

#menu {
	width: 980px;
	height: 41px;
	margin: 0 auto;
}

#menu ul {
	margin: 0 0 0 28px;
	padding: 0px;
	list-style: none;
}

#menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a {
	float: left;
	display: block;
	height: 22px;
	width: 128px;
	padding: 13px 0 0 0;
	background: url("/assets/menu/templatemo_menu.jpg") bottom no-repeat;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #c9ae96;	
	font-weight: bold;
	outline: none;
}

#menu li a:hover {
	color: #000000;
	background: url("/assets/menu/templatemo_menu_hover.jpg") bottom no-repeat;
}
/* Fim do menu*/



/*Configurações para o conteudo*/

#conteudo_fundo{
  width: 100%;
	margin: 0 auto;
}

#conteudo {
	width: 920px;
	min-height: 406px;
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}




/* Configurações para rodape */

#rodape_fundo {
	width: 100%;
	margin: 0 auto;
	background: #251d15;
}

#rodape {
  clear: both;
	width: 920px;
	padding: 30px;
	color: #928b85;
	background: url("/assets/rodape/templatemo_footer_bg.jpg") bottom center no-repeat
}

.direitos {
	text-align: center;
	width: 920px;
}

.direitos a:link, a:visited { 
  color: #fff; 
  text-decoration: underline; 
  font-weight: normal; 
} 

.direitos a:active, a:hover { 
  color: #fff; 
  text-decoration: none;
}


/* Fim rodape */




/*Configurações para empresa*/

#empresa{
	width: 920px;
	min-height: 200px;
}


#empresa h3{
	width:220px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}


#empresa h2{
	width:238px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#empresa p{
	text-indent: 30px;
	color: #8B5742;
	text-align: justify;
}


/*Configurações para home*/

#home {
	width: 920px;
	min-height: 960px;
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
/*Configurações para o slide*/

.recentes_servicos {
	float: left;
	width: 900px;
	height: 260px;
	margin-bottom: 10px;
	background: #7a5433;
}

.projeto_slideshow {
	float: left;
	width: 610px;
	height: 200px;
	padding: 30px 0;
	overflow: hidden;	
	background: #7a5433 url("/assets/slide/templatemo_slider_right_divider.jpg") right repeat-y
}

.projeto_conteudo {
	float: left;
	width: 250px;
	height: 180px;
	padding: 40px 20px;
	overflow: hidden;
	background: #64452b;
}

.projeto_conteudo p{
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	margin-bottom: 20px;
}

.contentslider {
  position:relative;
  display:block;
  width:530px;
  height:200px;
  margin: 0 auto;
  overflow:hidden;
}


.cs_slider {
  position:absolute;
  width:10000px;
  height:100%;
  margin:0;
  padding:0;
}

.cs_article {
  float:left;
  position:relative;
  top:0;
  left:0;
  display:block;
  width: 530px;
  height: 200px;
  margin:0 auto;
}

.cs_article img {
	float: left;
	margin-left: 55px;
	width: 418px;
	height: 198px;
	border: 1px solid #fff;
}

.cs_leftBtn, .cs_rightBtn {
  position:absolute;
  top: 0px;
  height: 200px;
  padding:0;
  z-index:10000;
}

.cs_leftBtn {
  left:0;
  outline:0;
}

.cs_rightBtn {
  right:0;
  outline:0;
}

.veja_mais a {
	clear: both;
	display: block;
	width: 104px;
	height: 25px;
	padding-top: 5px;
	background: url("/assets/slide/templatemo_readmore_button.jpg") no-repeat;
	
	color: #000;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.nossos_servicos {
	clear: both;
	font-size: 18px;
	color: #dad021;
	font-weight: bold;	
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	background: url("/assets/slide/templatemo_banner_divider.jpg") bottom repeat-x;
}

/*Fim para o slide*/


/*Configurações para noticias*/

#noticia {
  float: left;
  width: 490px;
  height: 650px;
  margin-top:10px;
}

/*Fim para noticias*/


/*Configurações para tabua de carne*/

#tabuadecarne {
  float: right;
  width: 390px;
  height: 170px;
  margin-top:10px;
  margin-right: 20px;
  background-color: #7a5433;
}

#tabuadecarne img {
  float: left;
  width: 380px;
  height: 160px;
  margin: 5px;
}

/*Fim para tabua de carne*/


/*Configuracao para a localizacao*/


#localizacao {
  float: left;
  width: 170px;
  height: 170px;
  margin-top:10px;
  margin-left: 30px;
  background-color: #7a5433;
}

.localizacao {
  float: left;
  width: 160px;
  height: 160px;
  margin: 5px;
  background: url("/assets/home/mapa.jpg") no-repeat 0 0;
 }

#conteudolocal{
	width: 920px;
	min-height: 650px;
}

#conteudolocal h3{
	width:115px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}


#conteudolocal p{
	text-indent: 30px;
	color: #8B5742;
	text-align: justify;
}

#conteudolocal iframe {
  float: left;
  margin-left: 160px;
  margin-top: 40px;
}



/*Fim para localizacao*/

/*Configuracao para a mural de recados*/


#mural {
  float: left;
  width: 170px;
  height: 170px;
  margin-top:10px;
  margin-left: 40px;
}

#mural img {dica
  float: left;
  width: 160px;
  height: 160px;
  margin: 5px;
}


/*Fim para mural*/



/*Configuracao para dicas*/


#dicas {
  float: left;
  width: 270px;
  height: 170px;
  margin-top:10px;
  margin-left: 70px;
  background-color: #7a5433;
}

.dicas {
  float: left;
  width: 260px;
  height: 160px;
  margin: 5px;
  background: url("/assets/home/dicas.jpg") no-repeat 0 0;
 }


#conteudodica{
  width: 920px;
  margin-bottom: 20px;
}


#conteudodica h3{
	width: 54px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}


#conteudodica p{
	text-indent: 30px;
	color: #8B5742;
	text-align: justify;
}

#conteudodica ol{
	color: #8B5742;
	font-size: 15px;
	margin-left: 50px;
	margin-top: 30px;
}

#conteudodica li{
  margin: 10px;
}

#conteudodica ol li a {
	color: #8B5742;
}

#conteudodica li a:hover {
	color: #8B5742;
}

#limpa_box{
	width: 920px;
	min-height: 500px;
}

#conteudodica .limpa_box{
	width: 154px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#limpa_vidro{
	width: 920px;
	min-height: 460px;
}

#conteudodica .limpa_vidro{
	width: 247px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#conteudodica .limpa_vidro2{
	width: 148px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#conteudodica .limpa_vidro3{
	width: 132px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}


#conteudodica .limpa_espelho{
	width: 196px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#conteudodica .manutencao_box{
	width: 190px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#recomendacoes_box{
	width: 920px;
	min-height: 410px;
}

#conteudodica .recomendacoes_box{
	width: 250px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}



#conteudodica .vantagens_temper{
	width: 335px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

#conteudodica .vantagens_temper2{
	width: 355px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}

/*Fim para dicas*/


/*Configuracao para carro*/


#carro {
  float: left;
  width: 370px;
  height: 120px;
  margin-top:10px;
  margin-left: 20px;
  background-color: #7a5433;
}


.carros {
  float: left;
  width: 110px;
  height: 110px;
  margin: 5px;
  margin-right: 15px;
  background: url("/assets/home/carro.jpg") no-repeat 0 0;
 }


#carro p {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

#conteudocarro{
  width: 920px;
  margin-bottom: 20px;
}


#conteudocarro h3{
	width: 120px;
	height:21px;
	border-bottom:#8B5742 solid 1px;
	margin: 21px 0 18px 48px;
	float:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #8B5742;
}


#conteudocarro p{
	text-indent: 30px;
	color: #8B5742;
	text-align: justify;
}


/*Fim para carro*/













/*Configurações para adminitrador*/


#menuadminitrador { 
  float: left;
  width: 610px;
  height: 120px;
  margin-top: 120px;
  margin-left: 150px;
}

.menucadastrar {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 40px;
  background: url("/assets/admin/cadastrar.gif") no-repeat 0 0;
 }
 
 .menualterar {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 10px;
  background: url("/assets/admin/alterar.gif") no-repeat 0 0;
 }
 
 .menuconsultar {
  float: left;
  width: 170px;
  height: 100px;
  margin-left: 40px;
  background: url("/assets/admin/consulatarerelatorio.gif") no-repeat 0 0;
 }





























/*Configurações para a galeria*/

#gallery  {
  float: left;
	display:block;
	width:825px;
	font-size:12px;
	line-height:20px;
	font-weight:normal;
	color:#5A5A5A;
	min-height: 200px;
	margin-top: 5px;
	margin-right:0px;
	margin-bottom: 5px;
	margin-left: 45px;
}

#gallery ul{
    list-style: none;
	margin-left: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#gallery ul li{
	background: none;
    display: inline;
}

#gallery ul img{
    border: 5px solid #5A5A5A;
	border-width: 5px 5px 5px;
	margin-left: 10px;
	margin-bottom:10px;
}
        #gallery ul a:hover img
        {
            border: 5px solid #D6CEB3;
            border-width: 5px 5px 5px;
            color: #fff;
        }
        #gallery ul a:hover
        {
            color: #fff;
        }








﻿#jquery-overlay
{
	position: absolute;
	width: 100%;
	height: 300px;
}
#jquery-lightbox
{
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 0;

}
#jquery-lightbox a img
{
	border: none;
}
#lightbox-container-image-box-top
{
	width: 100%;
}
#lightbox-container-image-box-top-left
{
	width: 10%;
	height: 1px;
	position: relative;
	margin: 0 auto;
	float: left;
	z-index: 10;
	display: inline;
	text-align: left;
	
}
#lightbox-container-image-box-top-middle
{
	width: 80%;
	padding-top: 5px;
	height: 5px;
	position: relative;
	margin: 0 auto 0 0px;
	float: left;
	z-index: 5;
	display: inline;
}

#lightbox-container-image-box-top-middle div.progress
{
	width: 80%;
	padding-top: 5px;
	height: 5px;
	position: relative;
	margin: 0 auto 0 0px;
	float: left;
	background-color: #e4e4e4;
	z-index: 5;
	display: inline;
	
}
#lightbox-container-image-box-top-right
{
	width: 10%;
	height: 1px;
	position: relative;
	margin: 0 auto;
	float: right;
	text-align: right;
	z-index: 10;
	display: inline;
}
#lightbox-container-image-box
{
	position: relative;
	background-color: #CDB38B;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	
}
#lightbox-container-image
{
	height: 100%;
	padding: 10px;
	
}
#lightbox-loading
{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav
{
	position: absolute;
	top: 32px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav
{
	left: 0;
}
#lightbox-nav a
{
	outline: none;
}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext
{
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev
{
	left: 0;
	float: left;
}
#lightbox-nav-btnNext
{
	right: 0;
	float: right;
}
#lightbox-container-image-data-box
{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #CDB38B;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
	text-align: left;
}
#lightbox-container-image-data #lightbox-image-details
{
	width: 70%;
	float: left;
	text-align: left;
}
#lightbox-image-details-caption
{
  color: white;
	font-weight: bold;
	display: block;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
#lightbox-image-details-currentNumber
{
	display: block;
	clear: left;
	padding-bottom: 1.0em;
	display: inline;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	color: white;
}
#lightbox-image-details-previous-image, #lightbox-image-details-previous-text, #lightbox-image-details-next-image, #lightbox-image-details-next-text
{
	display: inline;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;
	cursor: hand;
}
