<div id="conteudodica">
						<h3 class="limpa_espelho">Limpeza de Espelho</h3>
							
						<p>Uma das dúvidas dos nossos clientes é de como limpar um espelho, por isso vamos tirar algumas dessas dúvidas.</p>
						
						<ol>
							  <li>Limpe o espelho com água morna, aplicado com pano. É o procedimento mais simples e seguro, mas tenha cuidado para não deixar que as bordas do espelho permaneçam úmidas após a conclusão da limpeza;</li>

							  <li>Nunca use produtos ácidos ou alcalinos para limpeza do espelho após sua instalação. Esses produtos podem atacar e comprometer a superfície, as bordas e até o revestimento posterior do espelho.Nunca use produtos de limpeza abrasivo (lixas por exemplo) em qualquer superfície do espelho;</li>

							  <li>Ao limpar o espelho, use sempre panos macios e isentos apoeira, para reduzir as chances de riscar sua superfície;</li>

							  <li>Fique atento para a secagem total de todas as juntas e bordas do espelho. Certifique-se de que nenhum resíduo de produtos de limpeza tenha permanecido em contato com a borda ou com o revestimento posterior do espelho;</li>

							  <li>Um ambiente ventilado inibe a condensação de umidade, que pode ser corrosiva e prejudicial à conservação do espelho;</li>

						</ol>
						
	<%= link_to '', dicas_path, :class => "voltar" %>
</div>
				
