<div id="conteudodica">
					<h3 class="manutencao_box">Manutenção de Box </h3>
						
					 <p>Se o box apresentar qualquer irregularidade, seu uso deve ser interrompido imediatamente e o mesmo deve ser submetido à manutenção.</p>

					<ol>
					  <li>Porta abrindo ou fechando com dificuldade;</li>

					  <li>Guia da porta quebrada ou com flexibilidade excessiva;</li>

					  <li>Batedores inferior ou superior quebrados e/ou soltos;</li>

					  <li>Contato com o puxador com o outro vidro;</li>

					  <li>Trava de segurança;</li>

					  <li>Excesso no conjunto box, etc.</li>

					</ol>

					<p>* Mesmo que seu box não apresente nenhuma irregularidade, faça a manutenção preventiva a cada 12 meses.</p>


<%= link_to '', dicas_path, :class => "voltar" %>

</div>
