<div id="conteudodica">
  <div id="recomendacoes_box">
				
					<h3 class="recomendacoes_box">Recomendações para Box</h3>
						
						 <ol>
							  <li>Só utilize seu Box após 24h da instalação, pois esse é o período necessário para a completa secagem do silicone.</li>

							  <li>É necessário que seja feita a revisão do produto a cada 12 meses, para garantir seu bom funcionamento.</li>

							  <li>Use somente água e sabão neutro para efetuar a limpeza do vidro e mantenha o Box sempre limpo e seco, pois resíduos de shampoo, sabão, etc podem manchá-lo.</li>

							  <li>Não deixe crianças desacompanhadas utilizarem o Box.</li>

							  <li>Evite impactos violentos na abertura ou fechamento das portas.</li>

							  <li>Nunca troque o puxador original do Box Blindex por um de mercado.</li>

							  <li>Evite impactos com materiais rígidos, como: metal, mármore, azulejos, granito.</li>

							  <li>Prepare o banheiro para receber a instalação do Box, deixando-o seco e tendo em mãos a planta do projeto hidráulico, evitando assim que sejam feitos furos em locais por onde passa o encanamento.</li>

						</ol>
						
<%= link_to '', dicas_path, :class => "voltar" %>

</div>
</div>
